<!-- footer -->
<footer class="page-footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Jordan Price</h5>
        <p class="grey-text text-lighten-4">Father, programmer, security researcher, musician, bit hoarder...</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Pages</h5>
        <ul>
        <li><a href="{{ site.baseurl }}/" style='color: #fff;'>Home</a></li>{% for page in site.pages %}{% if page.title %}{% if page.url != '/404.html' %}
	    <li><a href="{{ page.url | prepend: site.baseurl }}" style='color: #fff;'>{{ page.title }}</a></li>{% endif %}{% endif %}{% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Jordan Price
    </div>
  </div>
</footer>
<!-- javascript -->
<script>
$( document ).ready(function(){
  $(".button-collapse").sideNav();
});
</script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>