<!-- navigation -->
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Jordan Price</a>
    <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
	    <li><a href="{{ site.baseurl }}/" style='color: #fff;'>Home</a></li>{% for page in site.pages %}{% if page.title %}{% if page.url != '/404.html' %}
	    <li><a href="{{ page.url | prepend: site.baseurl }}" style='color: #fff;'>{{ page.title }}</a></li>{% endif %}{% endif %}{% endfor %}
    </ul>
    <ul class="side-nav" id="mobile-menu">
      <li><a href="/" class="mobile-brand-logo">Jordan Price</a></li>
        <li><a href="{{ site.baseurl }}/" style='color: #000;'>Home</a></li>{% for page in site.pages %}{% if page.title %}{% if page.url != '/404.html' %}
        <li><a href="{{ page.url | prepend: site.baseurl }}" style='color: #000;'>{{ page.title }}</a></li>{% endif %}{% endif %}{% endfor %}
    </ul>
  </div>
</nav>